<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>NSL</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/github-light.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
				<h1>
				  <a href="http://nsl.io">
				    <img id="logo" src="{{ site.baseurl }}/assets/img/logo.svg" alt="NSL" /> NSL
				  </a>
				</h1>
        <p>Node standard library.</p>

        <p class="view"><a href="https://github.com/nsljs/nsl">View the Project on GitHub <small>nsljs/nsl</small></a></p>
        <ul>
          <li><a href="https://twitter.com/nsljs">Follow on <strong><i class="fa fa-fw fa-twitter"></i> Twitter</strong></a></li>
          <li><a href="https://www.youtube.com/channel/UCqxNk2IdGqK7TQ8yzTG692A">Watch on <strong><i class="fa fa-youtube-play"></i> YouTube</strong></a></li>
          <li><a href="https://slides.com/nsl">View <strong>Slides</strong></a></li>
          <li><a href="https://github.com/nsljs/nsl/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/nsljs/nsl/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/nsljs/nsl">View On <strong><i class="fa fa-fw fa-github"></i> GitHub</strong></a></li>
        </ul>
      </header>
      <section>
      {{content}}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/nsljs">nsljs</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Original Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ site.baseurl }}/assets/scale.fix.js"></script>
  </body>
</html>
